<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header class="p-3 text-bg-dark border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'img/logo.png' %}" height="40">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首页</a></li>
                <li><a href="#" class="nav-link px-2 text-white">发布博客</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control " placeholder="搜索..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">登录</button>
                <button type="button" class="btn btn-warning">注册</button>
            </div>
        </div>
    </div>
</header>
<main class="container bg-white p-3 rounded">
    <h1>博客列表</h1>
    <div class="row row-cols-2 row-gap-4">
        <div class="col">
            <div class="card ">
                <div class="card-header">
                    <a href="#" class="text-decoration-none text-dark">Blog title</a>
                </div>
                <div class="card-body "style="height: 150px;">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/网站图标.ico' %}" class="rounded-circle" height="30">
                        毕文博
                    </div>

                    <div>
                        <small class="text-muted">2022-01-01</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <div class="card-header">
                    <a href="#" class="text-decoration-none text-dark">Blog title</a>
                </div>
                <div class="card-body "style="height: 150px;">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/网站图标.ico' %}" class="rounded-circle" height="30">
                        毕文博
                    </div>

                    <div>
                        <small class="text-muted">2022-01-01</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <div class="card-header">
                    <a href="#" class="text-decoration-none text-dark">Blog title</a>
                </div>
                <div class="card-body "style="height: 150px;">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/网站图标.ico' %}" class="rounded-circle" height="30">
                        毕文博
                    </div>

                    <div>
                        <small class="text-muted">2022-01-01</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>